<%= form_for @shop, validate: true do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label 'Imagen de tienda' %><br>
    <%= f.attachment_field :image %>
  </div>
  <div class="field">
    <%= f.label 'Nombre de tienda' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Saludo' %><br>
    <%= f.text_area :greeting %>
  </div>
  <div class="field">
    <%= f.label 'Celular' %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label 'Tiene whatsapp?' %><br>
    <%= f.check_box :whatsapp %>
  </div>
  <div class="field">
    <%= f.label 'Pueden llamarle?' %><br>
    <%= f.check_box :phone %>
  </div>
  
  <div class="actions">
    <%= f.submit class: 'btn btn-primary', role: 'button', class: 'btn btn-success btn-sm' %>
  </div>
<% end %>
